@import url('../assets/fonts.css');
@import url('pygment_trac.css');
@import url('style.css');
@import url('styles.css');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
    padding: 0px !important;
}

.really-big-spacer {
    width: 100px;
    margin: auto;
}

.really-big-spacer .fa {
    font-size: 100px;
    transition: transform .5s;
}

.really-big-spacer .fa.true {
    transform: rotate(180deg);
}

h1, h2 {
    text-align: center;
}